.jackbox-talks .Slideshow .photo-100000-thumb,
.jackbox-talks .Draw.photo-100000-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100000-thumb,
.jackbox-talks .photo.photo-100000-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100000.jpg);
}

.jackbox-talks .Slideshow .photo-100001-thumb,
.jackbox-talks .Draw.photo-100001-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100001-thumb,
.jackbox-talks .photo.photo-100001-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100001.jpg);
}

.jackbox-talks .Slideshow .photo-100002-thumb,
.jackbox-talks .Draw.photo-100002-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100002-thumb,
.jackbox-talks .photo.photo-100002-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100002.jpg);
}
.jackbox-talks .Slideshow .photo-100003-thumb,
.jackbox-talks .Draw.photo-100003-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100003-thumb,
.jackbox-talks .photo.photo-100003-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100003.jpg);
}

.jackbox-talks .Slideshow .photo-100004-thumb,
.jackbox-talks .Draw.photo-100004-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100004-thumb,
.jackbox-talks .photo.photo-100004-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100004.jpg);
}

.jackbox-talks .Slideshow .photo-100005-thumb,
.jackbox-talks .Draw.photo-100005-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100005-thumb,
.jackbox-talks .photo.photo-100005-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100005.jpg);
}

.jackbox-talks .Slideshow .photo-100006-thumb,
.jackbox-talks .Draw.photo-100006-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100006-thumb,
.jackbox-talks .photo.photo-100006-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100006.jpg);
}

.jackbox-talks .Slideshow .photo-100007-thumb,
.jackbox-talks .Draw.photo-100007-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100007-thumb,
.jackbox-talks .photo.photo-100007-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100007.jpg);
}

.jackbox-talks .Slideshow .photo-100008-thumb,
.jackbox-talks .Draw.photo-100008-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100008-thumb,
.jackbox-talks .photo.photo-100008-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100008.jpg);
}

.jackbox-talks .Slideshow .photo-100009-thumb,
.jackbox-talks .Draw.photo-100009-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100009-thumb,
.jackbox-talks .photo.photo-100009-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100009.jpg);
}

.jackbox-talks .Slideshow .photo-100010-thumb,
.jackbox-talks .Draw.photo-100010-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100010-thumb,
.jackbox-talks .photo.photo-100010-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100010.jpg);
}

.jackbox-talks .Slideshow .photo-100011-thumb,
.jackbox-talks .Draw.photo-100011-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100011-thumb,
.jackbox-talks .photo.photo-100011-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100011.jpg);
}

.jackbox-talks .Slideshow .photo-100012-thumb,
.jackbox-talks .Draw.photo-100012-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100012-thumb,
.jackbox-talks .photo.photo-100012-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100012.jpg);
}

.jackbox-talks .Slideshow .photo-100013-thumb,
.jackbox-talks .Draw.photo-100013-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100013-thumb,
.jackbox-talks .photo.photo-100013-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100013.jpg);
}

.jackbox-talks .Slideshow .photo-100014-thumb,
.jackbox-talks .Draw.photo-100014-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100014-thumb,
.jackbox-talks .photo.photo-100014-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100014.jpg);
}

.jackbox-talks .Slideshow .photo-100015-thumb,
.jackbox-talks .Draw.photo-100015-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100015-thumb,
.jackbox-talks .photo.photo-100015-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100015.jpg);
}
.jackbox-talks .Slideshow .photo-100016-thumb,
.jackbox-talks .Draw.photo-100016-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100016-thumb,
.jackbox-talks .photo.photo-100016-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100016.jpg);
}

.jackbox-talks .Slideshow .photo-100017-thumb,
.jackbox-talks .Draw.photo-100017-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100017-thumb,
.jackbox-talks .photo.photo-100017-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100017.jpg);
}

.jackbox-talks .Slideshow .photo-100018-thumb,
.jackbox-talks .Draw.photo-100018-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100018-thumb,
.jackbox-talks .photo.photo-100018-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100018.jpg);
}

.jackbox-talks .Slideshow .photo-100019-thumb,
.jackbox-talks .Draw.photo-100019-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100019-thumb,
.jackbox-talks .photo.photo-100019-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100019.jpg);
}

.jackbox-talks .Slideshow .photo-100020-thumb,
.jackbox-talks .Draw.photo-100020-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100020-thumb,
.jackbox-talks .photo.photo-100020-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100020.jpg);
}

.jackbox-talks .Slideshow .photo-100021-thumb,
.jackbox-talks .Draw.photo-100021-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100021-thumb,
.jackbox-talks .photo.photo-100021-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100021.jpg);
}

.jackbox-talks .Slideshow .photo-100022-thumb,
.jackbox-talks .Draw.photo-100022-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100022-thumb,
.jackbox-talks .photo.photo-100022-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100022.jpg);
}

.jackbox-talks .Slideshow .photo-100023-thumb,
.jackbox-talks .Draw.photo-100023-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100023-thumb,
.jackbox-talks .photo.photo-100023-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100023.jpg);
}

.jackbox-talks .Slideshow .photo-100024-thumb,
.jackbox-talks .Draw.photo-100024-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100024-thumb,
.jackbox-talks .photo.photo-100024-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100024.jpg);
}

.jackbox-talks .Slideshow .photo-100025-thumb,
.jackbox-talks .Draw.photo-100025-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100025-thumb,
.jackbox-talks .photo.photo-100025-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100025.jpg);
}

.jackbox-talks .Slideshow .photo-100026-thumb,
.jackbox-talks .Draw.photo-100026-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100026-thumb,
.jackbox-talks .photo.photo-100026-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100026.jpg);
}

.jackbox-talks .Slideshow .photo-100027-thumb,
.jackbox-talks .Draw.photo-100027-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100027-thumb,
.jackbox-talks .photo.photo-100027-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100027.jpg);
}

.jackbox-talks .Slideshow .photo-100028-thumb,
.jackbox-talks .Draw.photo-100028-thumb canvas.sketchpad,
.jackbox-talks .Awards .photo.photo-100028-thumb,
.jackbox-talks .photo.photo-100028-thumb .choice-button {
    background-image: url(JackboxTalksPictures/100028.jpg);
}